.App {
  padding: 20px;
  margin: 20px;
}

.App-link {
  color: #61dafb;
}

.btn {
  border-radius: 0;
}

.btn:focus {
  outline:none !important;
}

@media (max-width: 575.98px) {
  button{
      width: 150px;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  button{
      width: 100px;
  }
}



